.App {
  font-family: sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
  text-align: center;
}

html { 
  scroll-behavior: smooth;
}

* { 
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
}

.App { 
  display: grid;
  /* grid-template-rows: 255px 1fr; */
}

.app_main_container {
  display: grid;
  grid-template-columns: 255px 1fr;
}

.icon {
  max-height: 30px;
}

li { 
  list-style-type: none;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}


/* Header*/

.header { 
  /* background-color: #ffffff; */
  background-color: aqua;
  padding: 10px;
}

.header_container { 
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.header_searchbar_form { 
  display: flex;
  justify-content: center;
  /* border-radius: 5px; */
}

.header_searchbar_form input{ 
  width: 400px;
}

.main_header_searchbar {
  border-radius: 5px;
}

.expand_menu_logo img { 
  max-height: 40px;
}

.expand_menu_logo {
  border: 0px;
  background: transparent;
  margin: 0 10px 0 10px;
}

.youTube_studio_logo { 
  background: transparent;
  max-height: 40px;
}
.youTube_studio_logo img { 
  max-height: 40px;
}

.two_column_grid { 
  display: grid;
  grid-template-columns: auto 1fr;
}
.two_column_grid__aside_menu { 
  display: grid;
  grid-template-columns: auto 1fr;
}



.create_header { 
  height: 6ch;
  display: grid;
  grid-template-columns: auto 1fr 180px 30px;
  gap: 10px;
  align-items: center;
}


/* Aside */

.aside_main_menu{
  background-color: aquamarine;
}

.aside_avatar_section img { 
  max-width: 100px;
  border-radius: 50%;
  padding: 10px;
  /* width: fit-content;
  block-size: fit-content; */
}

.aside_menu_selection { 
  display: grid;
  margin-top: 10px;
}

/* .menu-selection__two_column_grid {
  display: grid;
} */

/* .cover {
  object-fit: cover;
} */


/* channel content */
.content_container h2 { 
  text-align: left;
}




/* Dasboard layout */

/* .dashboard_main_container { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

.dashboard_header { 
  height: 6ch;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
}

.dashboard_side_suggestion_container { 
  display: flex;
  justify-content: center;
  min-height: 20ch;
}

.two_row_grid{
  display: grid;
  grid-row: auto;

}

.three_column_grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  /* margin: 0 10px 0 10px; */

}


/* Reusable */

.dotted{ 
  border: 1px dotted black;
  border-radius: 1px;
}

.gap { 
  gap: 10px;
}

.margin { 
  margin: 10px;
}

.margin-left { 
  margin-left: 10px;
}

.padding_10 { 
  padding: 10px;
} 



/* Channel Content */

/* .video_listing_area { 
  justify-content: center;
} */

.filter_section { 
  padding-top: 5px;
  padding-bottom: 10px;
}

.filter_section img {
  max-height: 20px;
}



.content_main_video_grid { 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.newbutton { 
  color: red;
}

.edit_draft{ 
  color: green;
}

.deleteButton { 
  color: red;
}


.playlists-dropdown { 
  border: 3px;
}


.content_main_video_grid {
  width: 250px;
  align-items: center;

}

.video_grid_description {
  width: 250px;
}

.min_width { 
  min-width: 120px;
  justify-content: center;
}

  /* Video Edit form */
.edit-video-component__main-container { 

  padding: 10px;


}

.two-column-grid__header { 
  display: flex;
  grid-template-rows: 60px 1fr;

}

.multi_filtering_options { 
  display: grid;
  grid-auto-flow: column;
  /* justify-content: center; */
  padding: 10px 0 10px 0;
  align-items: center;
}

.video_thumbnail { 
  max-width: 200px;
}

.thumbnail-icon{ 
  max-width: 120px;
}
